body {
  background-image: repeating-linear-gradient(#fa8072, #FFA07A, #fab28b, #fad099, #fadfb0);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 100px auto;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 960px
}

/* banner */

h1 {
  float: left;
  font-size: 28px;
  transition: all .4s linear;
  font-style: italic;
  color: rgba(28, 28, 28, 0.721);
  font-family: 'Lobster', cursive;
}

h1:hover {
  letter-spacing: 5px;
}

nav li {
  font-family: 'Lobster', cursive;
  float: right;
  margin-right: 35px;
  color: rgba(28, 28, 28, 0.721);
  background-color: #fcb2aa;
  border-radius: 30px;
  padding: 5px;
  outline-color: none;
  transition: all .3s ease-in;
}

nav li:hover {
  background-color: #fa8072;
}

nav a:visited:active {
  background-color: #fa8072;
  color: black;
  text-decoration: none;
}

#banner {
  font-family: 'Lobster', cursive;
  width: 100%;
  z-index: 998;
  position: fixed;
  padding: 15px;
  top: 0;
  left: 0;
  font-family: 'Didot';
}


h2 {
  text-decoration: underline;
  margin-bottom: 10px;
  font-size: 20px;
}

h2 {
  margin: 30px 0;
  font-family: 'Lobster', cursive;
}

.storerow {
  clear: both;
  display: block;
  width: 960px;
  height: 300px;
  margin: 20px;
}

.storerow img{
  /* width: 50% */
  float: left;
  width: 300px;
}

.storerow p{
  /* width: 30%; */
  display: inline-block;
  width: 350px;
  height: 300px;
}

.storerow input{
  /* width: 20%; */
  /* display: block */
  float: right;
  margin-right: 90px
}

#cookie {
  height: 200px
}

footer {
  clear:both;
  margin-top: 30px
}

#main-index {
  background-color: rgba(255, 255, 255, 0.653);
  padding: 20px;
  border-radius: 45px;
  box-shadow: 3px 5px 15px rgba(0, 0, 0, .25);
}