/* All section */
body {
  background-image: repeating-linear-gradient(#fa8072, #FFA07A, #fab28b, #fad099, #fadfb0);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 30px auto;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p {
  color: rgba(28, 28, 28, 0.721);
}

.boldhr {
  border: 5px solid black;
  border-radius: 50px;  
  width: 65%;
}

hr {
  border: 3px dotted black;
  border-radius: 50px;
  width: 55%;
}


/* header */
h1 {
  float: left;
  font-size: 28px;
  transition: all .4s linear;
  font-style: italic;
  color: rgba(28, 28, 28, 0.721);
  font-family: 'Lobster', cursive;
}

h1:hover {
  letter-spacing: 5px;
}

nav li {
  font-family: 'Lobster', cursive;
  float: right;
  margin-right: 35px;
  color: rgba(28, 28, 28, 0.721);
  background-color: #fcb2aa;
  border-radius: 30px;
  padding: 5px;
  outline-color: none;
  transition: all .3s ease-in;
}

nav li:hover, td:hover {
  background-color: #fa8072;
}

nav a:visited:active {
  background-color: #fa8072;
  color: black;
  text-decoration: none;
}

#banner {
  font-family: 'Lobster', cursive;
  width: 100%;
  position: fixed;
  padding: 15px;
  top: 0;
  left: 0;
  font-family: 'Didot';
}


h2 {
  text-decoration: underline;
  margin-bottom: 10px;
  font-size: 20px;
}

/* main */
#main-index {
  margin: auto;
  width: 960px;
}

#salmon {
  box-shadow: none;
  margin: 40px 0
}

main img {
  box-shadow: 3px 5px 15px rgba(0, 0, 0, .25);
}

#family {
  margin: 40px 0 20px 0;
  border-radius: 50%;
}

#cutter {
  float: left;
  border-radius: 50%;
}

#cookie {
  float:right;
  border-radius: 50%;
}

#article1, #article2, #locations ul {
  background-color: rgba(255, 255, 255, 0.982);
  padding: 20px;
  border-radius: 45px;
  box-shadow: 3px 5px 15px rgba(0, 0, 0, .25);
}

#article2 {
  margin-top: 30px;
  margin-bottom: 30px;
  clear: both;
  float: right
}
section p {
  font-size: 20px;
  margin: 30px
}

#hours {
  clear: both
}

main h2 {
  font-size: 36px;
  font-family: 'Lobster', cursive;
  font-style: italic;
}

main h3 {
  margin-top: 50px;
  font-family: 'Lobster', cursive;
  font-size: 34px;
  text-decoration: underline;
}

section {
  margin-top: 30px
}

section ul li:first-child {
  font-size: 30px;
  font-family: 'Lobster', cursive;
  color: black
}

section ul li, #contact-info li {
  font-size: 24px;
  color: rgba(28, 28, 28, 0.721);
}

#cost, #section2 a {
  font-size: 60px;
  text-transform: uppercase;
  color: black
}

#cost:hover {
  font-style: italic;
  color: red
}

/* locations */

#locations {
  margin-bottom:40px
}

#row-1 {
  display: flex;
  justify-content: space-around;
}

#row-2 {
  display: flex;
  justify-content: space-around;
  margin-top: 50px
}

#contact {
  margin-bottom: 20px;
  font-size: 40px;
  clear: both;
}

#contact-info {
  margin-bottom: 30px
}

main img:last-child {
  margin-top: 40px
}

#chinook {
  border-radius: 45px;
  box-shadow: 3px 5px 15px rgba(0, 0, 0, .25);
}
footer {
  margin-top: 50px;
  margin-right: 50px;
  /* text-align: right */
}