/* All section */
body {
  background-image: repeating-linear-gradient(#fa8072, #FFA07A, #fab28b, #fad099, #fadfb0);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 30px auto;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* header */
h1 {
  float: left;
  font-size: 28px;
  transition: all .4s linear;
  font-style: italic;
  color: rgba(28, 28, 28, 0.721);
  font-family: 'Lobster', cursive;
}

h1:hover {
  letter-spacing: 5px;
}

nav li {
  font-family: 'Lobster', cursive;
  float: right;
  margin-right: 35px;
  color: rgba(28, 28, 28, 0.721);
  background-color: #fcb2aa;
  border-radius: 30px;
  padding: 5px;
  outline-color: none;
  transition: all .3s ease-in;
}

nav li:hover, td:hover {
  background-color: #fa8072;
}

nav a:visited:active {
  background-color: #fa8072;
  color: black;
  text-decoration: none;
}

#banner {
  font-family: 'Lobster', cursive;
  width: 100%;
  z-index: 998;
  position: fixed;
  padding: 15px;
  top: 0;
  left: 0;
  font-family: 'Didot';
}

#banner li:hover {
  cursor: pointer;
}

h2 {
  text-decoration: underline;
  margin-bottom: 10px;
  font-size: 20px;
}

/* main */
main {
  margin: auto;
  /* width: 960px */
}

main img {
  box-shadow: 3px 5px 15px rgba(0, 0, 0, .25);
}

#family {
  margin: 40px 0 20px 0;
  border-radius: 50%;
}

#cutter {
  float: left;
  border-radius: 50%;
}

#cookie {
  float:right;
  border-radius: 50%;
}

#section1 p {
 
}

#article2 {
  margin-top: 30px;
  clear: both;
  float: right
}
section p {
  font-size: 20px;
  margin: 30px
}

#hours {
  clear: both
}

main h2 {
  font-size: 36px;
  font-family: 'Lobster', cursive;
  font-style: italic;
}

main h3 {
  margin-top: 150px;
  font-family: 'Lobster', cursive;
  font-size: 34px;
  text-decoration: underline;
}

section {
  margin-top: 30px
}
section ul li:first-child {
  font-size: 30px;
  font-family: 'Lobster', cursive;
}
section ul li {
  font-size: 28px
}

#row-1 {
  display: flex;
  justify-content: space-around;
}


#row-2 {
  display: flex;
  justify-content: space-around;
  margin-top: 100px
}

#contact {
  margin-top: 100px;
  font-size: 40px;
}

