body{
  /* background-color: #fac8b6;
   */
  background-image: repeating-linear-gradient(#fa8072, #FFA07A, #fab28b, #fad099, #fadfb0);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 30px auto;
  width: 90%;
  height: 100%;
  text-align:center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
  float:left;
  font-size: 28px;
  transition: all .4s linear;
  font-style: italic;
  color: rgba(28, 28, 28, 0.721);
  font-family: 'Lobster', cursive;
}

h1:hover {
  letter-spacing: 5px;
}

nav li {
  float:right;
  margin-right: 10px;
  color: rgba(28, 28, 28, 0.721);
  background-color: #fcb2aa;
  border-radius: 30px;
  padding: 5px;
  outline-color: none;
  transition: all .3s ease-in;
}

nav li:hover, td:hover {
  background-color: #fa8072;
}

nav a:visited:active {
  background-color: #fa8072;
  color: black;
  text-decoration: none;
}

#banner {
  /* background-color: #fadfb0; */
  width: 100%;
  z-index: 999;
  position: fixed;
  padding: 15px;
  top: 0;
  left: 0;
  font-family: 'Didot';
}

img {
  display: inline-block;
  margin: 40px auto 30px auto;
}

h2 {
  text-decoration: underline;
  margin-bottom: 10px;
  font-size: 20px;
}

/* h2, article ul {
background-color: #fadfb0;
box-shadow: 3px 5px 15px rgba(0, 0, 0, .25);
border-radius: 30px;
padding: 10px;
color: rgba(28, 28, 28, 0.721)
}
article {
  margin: 20px 0
}
article li {
  margin: 5px 0
} */

table {
  padding: 5px;
  margin: auto;
  border-spacing: 8px;
  font-size: 12px;
}

td, th {
  padding: 5px 15px;
  border-radius: 30px;
  box-shadow: 3px 5px 15px rgba(0, 0, 0, .25);
  color: rgba(28, 28, 28, 0.721)
}

#container-1{
  display: flex;
  justify-content: space-around;
  margin: 10px;
  padding: 15px;
}

.box {
  width: 20%;
  padding: 30px
}